*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #ffffff;
    --off-White: #e5e5e5;
    --transpWhite-1: rgb(255, 255, 255, 0.25);
    --transpWhite-2: rgb(255, 255, 255, 0.1);
    --blue-1: #62b8f5;
    --blue-2: #4475ef;
    --shadow: rgb(3, 46, 87, 0.2)
}

html, body{
    height: 100vh;
    background: linear-gradient(135deg, var(--blue-1), var(--blue-2));
    font-family: 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    
}

.wrapper{
    width: 90vw;
    max-width: 28em;
    font-size: 16px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.container{
    width: 100%;
    background-color: var(--transpWhite-2);
    backdrop-filter: blur(10px);
    padding: 3em 1.8em;
    border: 2px solid var(--transpWhite-2);
    border-radius: 0.6em;
    box-shadow: 0 1.8em 3.7em var(--shadow);
    text-align: center;
}
.shape{
    position: absolute;
    background-color: var(--transpWhite-1);
    backdrop-filter: blurr(1.2em);
    border: 2px solid var(--transpWhite-2);
    border-radius: 50%;
}
.shape1{
    height: 11em;
    width: 11em;
    right: -3.5em;
    top: 1.8em;
}
.shape2{
    width: 9em;
    height: 9em;
    bottom: -1.7em;
    left: -2.5em;
}

.search-container{
    font-size: 1em;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.3em;
}

.search-container input, .search-container button{
    border: none;
    font-size: 1em;
    outline: none;
    padding: 0.7em;
}

.search-container input{
    background-color: transparent;
    color: var(--white);
    font-weight: 400;
    border-bottom: 2px solid var(--transpWhite-1);
}

.search-container input::placeholder{
    color: var(--off-White);
}
.search-container input:focus{
    border-color: var(--white);
}

.search-container button{
    background-color: var(--white);
    color: var(--blue-2);
    cursor: pointer;
    border-radius: 0.3em;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#result h2{
    color: var(--white);
    font-weight: 600;
    letter-spacing: 0.2em;
    margin: 1em 0;
    text-transform: uppercase;
}

.weather, .desc {
    font-size: 0.9em;
    color: var(--off-White);
    letter-spacing: 0.2em;
    line-height: 2em;
    text-transform: uppercase;
}
#result img{
    width: 6.2em;
    filter:drop-shadow(0 1.8em 3.7em var(--shadow));
}

#result h1{
    font-size: 4em;
    margin: 0.3em 0 0.7em 0;
    line-height: 0;
    font-weight: 500;
    color: var(--white);
}
.temp-cont{
    display: flex;
    justify-content: center;
}
.temp-cont div{
    padding: 0.3em 1em;
}

.temp-cont div:first-child{
    border-right: 1px solid var(--off-White);
}
.temp-cont .title{
    color: var(--white);
    font-weight: 600;
}
.temp-cont .temp{
    font-weight: 300;
    color: var(--off-White)
}

.msg{
    color: var(--white);
    font-weight: 600;
    margin: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}